* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

body {
  font-family: Arial;
  background: #f4f4f4;
  color: #222
}

header {
  background: #000;
  color: #fff;
  padding: 15px;
  display: flex;
  justify-content: space-between
}

.simple-header {
  text-align: center;
  background: #000;
  color: #fff;
  padding: 15px;
  font-weight: bold
}

nav a {
  color: #fff;
  margin-left: 15px;
  text-decoration: none
}

.center {
  text-align: center;
  margin: 40px 0
}


.slide {
  display: none
}

.slide.active {
  display: block
}

.slider {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}


#slideshow {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}


.prev {
  left: 20px;
}

.next {
  right: 20px;
}

footer {
  text-align: center;
  background: #000;
  color: #aaa;
  padding: 20px
}
.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: none;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-size: 19px;
  cursor: pointer;
  z-index: 10;
  transition: 0.3s;
}
